@model HealthyGamerPortal.Common.ViewModels.News.NewsItemViewModel

<modal-form size="Large" title="News">
    <form asp-action="Read" id="validate-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form-entry asp-for="Name" input-type="Text" read-only="true" />
        <form-entry asp-for="Item" input-type="Textarea" column-width="12" read-only="true" />
    </form>
</modal-form>