<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>HGCore</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Css/min/style.css" rel="stylesheet" />
    <link href="~/Css/login.css" rel="stylesheet" />
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div id="login-box">
        <div id="left-container">
            Welcome to HealthyGamer Portal
            <h1>
                FOR GAMERS, BY GAMERS
            </h1>
        </div>
        <div id="right-container">
            <div class="logo">
                <img src="~/Images/HG/Logos/logo-main-1.png" class="img img-responsive img-circle center-block" />
            </div>
            <br />
            @RenderBody()
        </div>
    </div>
</body>
</html>